<section class="Ibg-gray-50">
  <div
    class="flex flex-col items-center justify-center h-screen px-6 py-8 mx-auto"
  >
    <div
      class="w-full max-w-md bg-white border-4 border-gray-900 rounded-lg shadow"
    >
      <div class="p-6 space-y-6">
        <h1 class="text-2xl font-bold text-gray-900">Log in to your account</h1>
        <form
          #formData="ngForm"
          (ngSubmit)="onSubmit(formData.value)"
          class="space-y-6"
        >
          <div *ngIf="isError" class="p-5 my-3 text-red-400 bg-red-100">
            The username or password is wrong
          </div>
          <div>
            <label class="block mb-2 text-sm font-medium Otext-gray-900">
              Your Email
            </label>
            <input
              ngModel
              type="email"
              name="email"
              placeholder="name@company.com"
              class="block w-full p-2.5 text-sm bg-gray-50 border-4 border-gray-900 text-gray-900 rounded-lg"
            />
          </div>
          <label class="block mb-2 text-sm font-medium Otext-gray-900">
            Password
          </label>
          <input
            ngModel
            type="password"
            name="password"
            placeholder="******"
            class="block w-full p-2.5 text-sm bg-gray-50 border-4 border-gray-900 text-gray-900 rounded-lg"
          />
          <button
            class="w-full text-white bg-gray-900 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
          >
            Sign In
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
