<div class="container mx-auto my-16">
  <div class="grid grid-cols-2 gap-5">
    <div class="border-2 shadow-lg border-y-900">
      <img [src]="siteImgURL" alt="" />
      <h3 class="p-3 text-xl font-bold">{{ siteName }}</h3>
      <div class="grid grid-cols-3 gap-3 p-3 my-1">
        <div
          class="col-span-2 px-3 text-sm text-blue-800 bg-blue-200 rounded-lg"
        >
          {{ siteURL }}
        </div>
      </div>
    </div>
  </div>
  <div class="px-20 py-10 my-5 mb-10 border-4 border-gray-900">
    <h2 class="text-3xl text-center">{{ FormState }} User & password</h2>
    <p class="text-center">
      you can {{ FormState }} user & password from the below form
    </p>
    <form #formData="ngForm" (ngSubmit)="submitForm(formData.value)">
      <div class="flex flex-col">
        <label class="mb-2 text-lg font-medium">Email</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="passEmail"
          class="w-full p-2 border-2 border-gray-900 rounded-lg"
        />
      </div>
      <div class="flex flex-col">
        <label class="mb-2 text-lg font-medium">Username</label>
        <input
          type="text"
          name="username"
          [(ngModel)]="passUserName"
          class="w-full p-2 border-2 border-gray-900 rounded-lg"
        />
      </div>
      <div class="flex flex-col">
        <label class="mb-2 text-lg font-medium">Password</label>
        <input
          type="password"
          [(ngModel)]="Password"
          name="password"
          class="w-full p-2 border-2 border-gray-900 rounded-lg"
        />
      </div>
      <button
        class="mt-10 mx-0.5 px-5 py-3 text-sm bg-gray-900 text-white shadow rounded-md"
      >
        {{ FormState }} Password
      </button>
    </form>
  </div>
  <div class="grid mt-10 grid-cols">
    <table class="border-gray-900">
      <thead>
        <tr>
          <th class="p-3 border-2 border-gray-900">Email</th>
          <th class="p-3 border-2 border-gray-900">Username</th>
          <th class="p-3 border-2 border-gray-900">Password</th>
          <th class="p-3 border-2 border-gray-900">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="h-14" *ngFor="let list of passwordList; let i = index">
          <td class="p-3 border-2 border-gray-900">{{ list.email }}</td>
          <td class="p-3 border-2 border-gray-900">{{ list.username }}</td>
          <td class="p-3 border-2 border-gray-900">
            {{ list.password }}
            <button
              (click)="onDecrypt(list.password, i)"
              class="px-5 py-1 mx-5 text-sm text-white bg-red-400 rounded-md shadow"
            >
              Decrypt
            </button>
          </td>
          <td class="p-3 border-2 border-gray-900">
            <button
              (click)="
                editPassword(list.email, list.username, list.password, list.id)
              "
              class="px-5 mx-5 text-white bg-gray-900 rounded-md shadow"
            >
              Edit
            </button>
            <button
              (click)="deletePassword(list.id)"
              class="px-5 mx-5 text-black border border-black rounded-md shadow"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
